{{> head}}

   {{> navbar }}
  
  <div class="row">
      <div class="col-8">
          <h1>Monkey</h1>
          <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore sit incidunt odit eos quia eveniet nostrum nobis soluta numquam quis blanditiis placeat, repudiandae, expedita consectetur inventore! Obcaecati sint laudantium est.
          </p>
      </div>
      <div class="col-4">
          <img src="../assets/img/monkey.gif" alt="" class="img-thumbnail"> 
      </div>
  </div>
{{> footer}}